<div class="section-title">
  <h2>MACH PREVIEWS</h2>
  <hr>
</div>
<div class="">
  <img src="assets/image/benzema.jpg" alt="">
  <p>Born in Lyon to Algerian parents, Benzema began his career with hometown club Olympique Lyonnais in 2005.</p>
  <div class="transfer-rows">
    <div class="transfer-row">
      <img src="assets/image/ronaldo.webp" alt="">
      <div class="transfer-info">
        <h2>Cristiano Ronaldo</h2>
        <label>Ronaldo began his senior career with Sporting CP, before signing with Manchester United in 2003, at age 18, winning the FA Cup in his first season.</label>
      </div>
    </div>
    <div class="transfer-row">
      <img src="assets/image/messi.jpg" alt="">
      <div class="transfer-info">
        <h2>Cristiano Ronaldo</h2>
        <label>Born and raised in central Argentina, Messi relocated to Spain at the age of 13 to join Barcelona</label>
      </div>
    </div>
  </div>
</div>
