<div class="section-title">
  <h2>FEATURED</h2>
  <hr>
</div>
<div class="segment-control">
  <a href="#">All</a>
  <a href="#">Sports</a>
  <a href="#">Travel</a>
  <a href="#" class="active">Technology</a>
  <a href="#">Business</a>
  <a href="#">Food</a>
  <a href="#">Travel</a>
</div>
<div class="news">
  <div>
    <img src="assets/image/photo1.jpg" alt="">
    <p>Lionel Messi magic gives Argentina hope while Louis</p>
  </div>
  <div>
    <img src="assets/image/benzema.jpg" alt="">
    <p>Lionel Messi magic gives Argentina hope</p>
  </div>
  <div>
    <img src="assets/image/pique.jpg" alt="">
    <p>Lionel Messi magic gives Argentina hope</p>
  </div>
  <div>
    <img src="assets/image/ronaldo.webp" alt="">
    <p>Lionel Messi magic gives Argentina hope</p>
  </div>
</div>
<div class="btn">
  <button>Load More</button>
</div>
