<div class="container">
  <div class="content">
    <app-slider></app-slider>
    <app-feature></app-feature>
    <app-premier-league></app-premier-league>
    <div class="transfer-group">
      <div class="transfer-content">
        <app-transfers></app-transfers>
      </div>
      <div class="match-preview-content">
        <app-match-previews></app-match-previews>
      </div>
    </div>

  </div>
  <div class="right-side">
    <app-latest-news></app-latest-news>
    <img src="assets/image/brasil.jpg">
    <app-competitions></app-competitions>
    <app-popular-men></app-popular-men>
  </div>
</div>

