<div class="second-header">
  <div class="score-block">
    <p>RMA 2:1 BRC</p>
    <p>Example</p>
  </div>
  <div class="score-block">
    <p>RMA 2:1 BRC</p>
    <p>Example</p>
  </div>
  <div class="score-block">
    <p>RMA 2:1 BRC</p>
    <p>Example</p>
  </div>
  <div class="score-block">
    <p>RMA 2:1 BRC</p>
    <p>Example</p>
  </div>
  <div class="score-block">
    <p>RMA 2:1 BRC</p>
    <p>Example</p>
  </div>
  <div class="score-block">
    <p>RMA 2:1 BRC</p>
    <p>Example</p>
  </div>
  <div class="score-block">
    <p>RMA 2:1 BRC</p>
    <p>Example</p>
  </div>
</div>
